In [47]:
from sklearn.datasets import load_iris
import math
import csv
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [48]:
df = pd.read_csv("default of credit card clients.csv")
df = df.drop(columns=['Unnamed: 0'])
print(df)

              X1   X2         X3        X4   X5     X6     X7     X8     X9  \
0      LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4
1          20000    2          2         1   24      2      2     -1     -1
2         120000    2          2         2   26     -1      2      0      0
3          90000    2          2         2   34      0      0      0      0
4          50000    2          2         1   37      0      0      0      0
...          ...  ...        ...       ...  ...    ...    ...    ...    ...
29996     220000    1          3         1   39      0      0      0      0
29997     150000    1          3         2   43     -1     -1     -1     -1
29998      30000    1          2         2   37      4      3      2     -1
29999      80000    1          3         1   41      1     -1      0      0
30000      50000    1          2         1   46      0      0      0      0

         X10  ...        X15        X16        X17       X18       X19  \
0      PAY_5  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2
1         -2  ...          0          0          0         0       689
2          0  ...       3272       3455       3261         0      1000
3          0  ...      14331      14948      15549      1518      1500
4          0  ...      28314      28959      29547      2000      2019
...      ...  ...        ...        ...        ...       ...       ...
29996      0  ...      88004      31237      15980      8500     20000
29997      0  ...       8979       5190          0      1837      3526
29998      0  ...      20878      20582      19357         0         0
29999      0  ...      52774      11855      48944     85900      3409
30000      0  ...      36535      32428      15313      2078      1800

            X20       X21       X22       X23                           Y
0      PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1             0         0         0         0                           1
2          1000      1000         0      2000                           1
3          1000      1000      1000      5000                           0
4          1200      1100      1069      1000                           0
...         ...       ...       ...       ...                         ...
29996      5003      3047      5000      1000                           0
29997      8998       129         0         0                           0
29998     22000      4200      2000      3100                           1
29999      1178      1926     52964      1804                           1
30000      1430      1000      1000      1000                           1

[30001 rows x 24 columns]

In [49]:
df_train_x = df.iloc[1:24001].astype(float)
df_train_y = df_train_x['Y']
df_train_x.drop(columns=['Y'])
print(df_train_y)
print(df_train_x)

1        1.0
2        1.0
3        0.0
4        0.0
5        0.0
        ...
23996    0.0
23997    0.0
23998    0.0
23999    0.0
24000    1.0
Name: Y, Length: 24000, dtype: float64
             X1   X2   X3   X4    X5   X6   X7   X8   X9  X10  ...      X15  \
1       20000.0  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0 -2.0  ...      0.0
2      120000.0  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  0.0  ...   3272.0
3       90000.0  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  0.0  ...  14331.0
4       50000.0  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  0.0  ...  28314.0
5       50000.0  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  0.0  ...  20940.0
...         ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...      ...
23996   80000.0  1.0  2.0  1.0  25.0  1.0  2.0  2.0  0.0  0.0  ...  80215.0
23997   20000.0  1.0  2.0  1.0  25.0  0.0  0.0  0.0  0.0  0.0  ...  17322.0
23998   10000.0  1.0  2.0  2.0  26.0  0.0  0.0  0.0  0.0  0.0  ...  17506.0
23999   20000.0  1.0  5.0  2.0  26.0  0.0  0.0  0.0  0.0  0.0  ...  39950.0
24000  100000.0  1.0  1.0  2.0  26.0  0.0 -1.0  0.0  0.0 -1.0  ...   1944.0

           X16      X17     X18      X19      X20     X21     X22     X23    Y
1          0.0      0.0     0.0    689.0      0.0     0.0     0.0     0.0  1.0
2       3455.0   3261.0     0.0   1000.0   1000.0  1000.0     0.0  2000.0  1.0
3      14948.0  15549.0  1518.0   1500.0   1000.0  1000.0  1000.0  5000.0  0.0
4      28959.0  29547.0  2000.0   2019.0   1200.0  1100.0  1069.0  1000.0  0.0
5      19146.0  19131.0  2000.0  36681.0  10000.0  9000.0   689.0   679.0  0.0
...        ...      ...     ...      ...      ...     ...     ...     ...  ...
23996  63296.0  49854.0  3800.0      6.0   3636.0  2646.0  2000.0  1830.0  0.0
23997  17119.0  17350.0  1552.0   2659.0   1419.0   606.0   500.0  1000.0  0.0
23998  16608.0   9176.0  1300.0   2200.0   1300.0   320.0  1820.0  1000.0  0.0
23999      0.0      0.0  3055.0   1467.0   1096.0  1000.0     0.0     0.0  0.0
24000    389.0   1221.0  1100.0   1200.0   1000.0   500.0  1000.0  1000.0  1.0

[24000 rows x 24 columns]

In [50]:
df_test_x = df.iloc[24001:30001].astype(float)
df_test_y = df_test_x['Y']
df_test_x.drop(columns=['Y'])
print(df_test_y)
print(df_test_x)

24001    0.0
24002    1.0
24003    0.0
24004    0.0
24005    0.0
        ...
29996    0.0
29997    0.0
29998    1.0
29999    1.0
30000    1.0
Name: Y, Length: 6000, dtype: float64
             X1   X2   X3   X4    X5   X6   X7   X8   X9  X10  ...      X15  \
24001   50000.0  1.0  2.0  2.0  23.0  2.0  2.0  0.0  0.0  0.0  ...  44116.0
24002   60000.0  1.0  2.0  2.0  26.0  0.0  0.0  0.0  0.0  0.0  ...  55736.0
24003  400000.0  1.0  2.0  2.0  27.0  0.0  0.0  0.0  0.0  0.0  ...  10745.0
24004   20000.0  1.0  5.0  2.0  27.0  5.0  4.0  3.0  2.0  2.0  ...  19709.0
24005   50000.0  1.0  3.0  2.0  27.0  0.0  0.0 -2.0 -2.0 -1.0  ...      0.0
...         ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...      ...
29996  220000.0  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  0.0  ...  88004.0
29997  150000.0  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  0.0  ...   8979.0
29998   30000.0  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  0.0  ...  20878.0
29999   80000.0  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  0.0  ...  52774.0
30000   50000.0  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
24001  21247.0  20066.0      8.0   2401.0   2254.0  2004.0    704.0   707.0
24002  26958.0  28847.0   2282.0   2324.0   2049.0  2000.0   3000.0  1120.0
24003  20737.0   9545.0   2501.0  10009.0   1437.0  1105.0    510.0   959.0
24004  20113.0  19840.0      0.0      0.0      0.0   900.0      0.0     0.0
24005     70.0    120.0      0.0    100.0      0.0    70.0    200.0   100.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29996  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29997   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29998  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29999  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
30000  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
24001  0.0
24002  1.0
24003  0.0
24004  0.0
24005  0.0
...    ...
29996  0.0
29997  0.0
29998  1.0
29999  1.0
30000  1.0

[6000 rows x 24 columns]

In [51]:
clf = LogisticRegression(random_state=0).fit(df_train_x.to_numpy(), df_train_y.to_numpy())

C:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [52]:
y_pred = clf.predict_proba(df_test_x.to_numpy())
y_pred

array([[0.59676153, 0.40323847],
       [0.62027774, 0.37972226],
       [0.91867032, 0.08132968],
       ...,
       [0.58914901, 0.41085099],
       [0.96843891, 0.03156109],
       [0.59098394, 0.40901606]])